doctype html
html(lang="en")
    head
        title Error #{code} #{title}
        style(type='text/css').
            body {
                text-align: center;
            }
    body
        h1 Custom 404 error page
        p Requested page #{url} is not found on server