doctype html
html
  head
    title #{title}
    include includes/head_html.pug
    link(rel='stylesheet', href='../assets/libs/animate.css/animate.min.css')
    link(rel='stylesheet', href='../assets/libs/fortawesome/fontawesome-free/css/all.min.css')
  body
    .preloader
      .spinner-border.text-primary(role='status')
        span.sr-only Loading...
    if user == null
      include includes/header_public.pug
    else
      include includes/header_private.pug
    section.slice.slice-lg.py-2.bg-cover.bg-size--cover.bg-primary
      .container.d-flex.align-items-center(data-offset-top='#navbar-main')
        .col
          .row.align-items-center.justify-content-center.mb-4
            .col-md-7.col-lg-7.text-center
              h1.display-4.text-white.mb-2
                strong Контакты
    section.slice.slice-lg
      .container
        .row.row-grid.align-items-center
          .col-xl-8.col-lg-10.offset-xl-2.offset-lg-1
            h5.h3.text-center К кому обращаться
        .row.row-grid.align-items-center
          .col-lg-4
            a(href='admin@miitasu.ru')
              .card.text-center.hover-translate-y-n10.hover-shadow-lg(style="min-height: 370px")
                .px-5.pb-5
                  .py-5
                    .icon.text-primary.mx-auto
                      i(data-feather='settings')
                  h5 Администратор сайта
                  p.mt-2.mb-0 Техническая поддрежка
                  br
                  .mt-4
                    a.link-underline-primary(href='admin@miitasu.ru') admin@miitasu.ru
          .col-lg-4
            a(href='mailto:letzky@mail.ru')
              .card.text-center.hover-translate-y-n10.hover-shadow-lg(style="min-height: 370px")
                .px-5.pb-5
                  .py-5
                    .icon.text-primary.mx-auto
                      i(data-feather='at-sign')
                  h5 Заведующий кафедрой
                  p.mt-2.mb-0 Лецкий Эдуард Константинович
                  br
                  .mt-4
                    a.link-underline-primary(href='mailto:letzky@mail.ru') letzky@mail.ru
          .col-lg-4
            a(href='mailto:oonuzhdin@mail.ru')
              .card.text-center.hover-translate-y-n10.hover-shadow-lg(style="min-height: 370px")
                .px-5.pb-5
                  .py-5 
                    .icon.text-primary.mx-auto
                      i(data-feather='users')
                  h5 Ответственный за учебную работу
                  p.mt-2.mb-0 Нуждин Олег Олегович
                  .mt-4
                    a.link-underline-primary(href='mailto:oonuzhdin@mail.ru') oonuzhdin@mail.ru
    section.slice.slice-lg
      .container
        .row.row-grid.justify-content-between.align-items-center
          .col-lg-6
            h5.h3 Контактный телефон
            p 8 (495) 684-22-50 
            | доступность: пн-пт с 10:00 до 16:00
          .col-lg-6
            h5.h3 Полезные ссылки
            p
              a(href="https://rut-miit.ru", target="_blank") rut-miit.ru
              | - официальный сайт РУТ(МИИТ)
            p
              a(href="http://imiit.ru/", target="_blank") imiit.ru
              | - сайт института управления и информационных технологий
    section.slice.slice-lg
      .container
        .row.row-grid.align-items-center
          .col-xl-8.col-lg-10.offset-xl-2.offset-lg-1
            h5.h3.text-center Как добраться
        .row.row-grid.justify-content-between.align-items-center
          .col-lg-6
            h4.mt-0
              | Москва, улица Образцова 9 ст.9 (корпус №1), 127055
              br
              | 3 этаж, ауд. 1312-1314, кафедра АСУ
            #accordionExample.accordion
              .card
                #headingOne.card-header
                  h2.mb-0.py-0
                    button.btn.btn-link(type='button', data-toggle='collapse', data-target='#collapseOne', aria-expanded='false'  aria-controls='collapseOne', style="color: darkorange")
                      | от станции метро "Новослободская" на трамвае
                #collapseOne.collapse(aria-labelledby='headingOne', data-parent='#accordionExample')
                  .card-body
                    | от станции метро "Новослободская" (выход №1) пройти 200 метров до остановки "метро Новослобоская", затем на трамвае № 50 до остановки "МИИТ", после пройти 100 метров до КПП.
              .card
                #headingTwo.card-header
                  h2.mb-0
                    button.btn.btn-link.collapsed(type='button', data-toggle='collapse', data-target='#collapseTwo', aria-expanded='false', aria-controls='collapseTwo', style="color: maroon")
                      | от станции метро "Новослободская" пешком
                #collapseTwo.collapse(aria-labelledby='headingTwo', data-parent='#accordionExample')
                  .card-body
                    | от станции метро "Новослобоская" (выход №1) пешком 15 минут.
              .card
                #headingThree.card-header
                  h2.mb-0
                    button.btn.btn-link.collapsed(type='button', data-toggle='collapse', data-target='#collapseThree', aria-expanded='false', aria-controls='collapseThree', style="color: blue")
                      | от станции метро "Достоевская" на трамвае
                #collapseThree.collapse(aria-labelledby='headingThree', data-parent='#accordionExample')
                  .card-body
                    | от станции метро "Достоевская" (выход №1 к театру Российской армии) пройти 300 метров до остановки "улица Достоевского", затем на трамвае №50 до остановки "МИИТ", после пройти 200 метров до КПП.
              .card
                #headingFour.card-header
                  h2.mb-0
                    button.btn.btn-link.collapsed(type='button', data-toggle='collapse', data-target='#collapseFour', aria-expanded='false', aria-controls='collapseFour', style="color: green")
                      | от станции метро "Достоевская" пешком
                #collapseFour.collapse(aria-labelledby='headingFour', data-parent='#accordionExample')
                  .card-body
                    | от станции метро "Достоевская" (выход №1 к театру Российской армии), 10-12 минут пешком.     
            h5.mt-3.text-center Важно
            p.text-center При себе необходимо иметь паспорт для прохода на территорию университета через КПП.              
          .col-lg-6
            div
              iframe(src='https://yandex.ru/map-widget/v1/?um=constructor%3A48d59795cfe9426e5360dd3693a63a581d94f3420564999ef47ec6883a15d0ba&source=constructor', width='450', height='600', frameborder='0')
    include includes/footer.pug
    script(src='../assets/libs/jquery/dist/jquery.min.js')
    script(src='../assets/libs/bootstrap/dist/js/bootstrap.bundle.min.js')
    script(src='../assets/libs/svg-injector/dist/svg-injector.min.js')
    script(src='../assets/libs/feather-icons/dist/feather.min.js')
    script(src='../assets/libs/in-view/dist/in-view.min.js')
    script(src='../assets/libs/sticky-kit/dist/sticky-kit.min.js')
    script(src='../assets/libs/imagesloaded/imagesloaded.pkgd.min.js')
    script(src='../assets/libs/bootstrap-notify/bootstrap-notify.min.js')
    script(src='../assets/libs/autosize/dist/autosize.min.js')
    script(src='../assets/js/quick-website.js')
    script.
      feather.replace({
      width: "1em",
      height: "1em"
      })
    include includes/yandex_metrika.pug
