doctype html
html
  head
    title #{title}
    include includes/head_html.pug
    link(rel='stylesheet', href='../../../../assets/libs/fortawesome/fontawesome-free/css/all.min.css')
  body
    .footer-wrapper
      include includes/header_private.pug
      .jumbotron.bg-light-secondary.shadow-lg.mb-0
        .row.justify-content-center.py-8
          .col-lg-8.text-center
            h2.lh-160
              | Вы точно хотите удалить файл
              br
              strong "#{file.name}" ?
            .mt-5.row.justify-content-center
              a.btn.btn-lg.btn-outline-primary.btn-icon.mr-3(href='/disciplines/'+disciplineAllias+'/')
                span.btn-inner--icon
                  i(data-feather='arrow-left')
                span.btn-inner--text Отмена
              form(action="" method="POST")
                button.btn.btn-lg.btn-outline-danger(type="submit") Удалить
      .push
    include includes/footer.pug 
    script(src='../../../../assets/libs/jquery/dist/jquery.min.js')
    script.
     feather.replace({
     width: "1em",
     height: "1em"
     })
    include includes/yandex_metrika.pug
