doctype html
html
  head
    title #{title}
    include includes/head_html.pug
    link(rel='stylesheet', href='../assets/libs/fortawesome/fontawesome-free/css/all.min.css')
  body.bg-section-secondary
    include includes/header_public.pug
    section.slice.slice-lg
      a.btn.btn-neutral.btn-icon-only.rounded-circle.position-absolute.left-4.top-90.d-none.d-lg-inline-flex(href="/")
        span.btn-inner--icon
          i(data-feather='arrow-left')
      .container.d-flex.flex-column
        .row.align-items-center.justify-content-center
          .col-md-6.col-lg-5.col-xl-4.py-6.py-md-0
            div
              .mb-5.text-center
                h6.h3.mb-1 Вход
                p.text-muted.mb-0 Войдите в свой аккаунт.
              span.clearfix
              if errorMessage.length
                p.mb-0(style=" color: red")=errorMessage
              form(action='.', method='POST')
                .form-group
                  label.form-control-label Логин
                  .input-group.input-group-merge
                    input#login.form-control.form-control-prepend(type='text', name="login", placeholder='Логин', maxlength=17)
                    .input-group-prepend
                      span.input-group-text
                        i(data-feather='user')
                .form-group.mb-0
                  .d-flex.align-items-center.justify-content-between
                    div
                      label.form-control-label Пароль
                    .mb-2
                      i(data-feather='eye').mr-1
                      a.small.text-muted.text-underline--dashed.border-primary(href='#', data-toggle='password-text', data-target='#password') Показать пароль
                  .input-group.input-group-merge
                    input#password.form-control.form-control-prepend(type='password', name="password", placeholder='Пароль', maxlength=65)
                    .input-group-prepend
                      span.input-group-text
                        i(data-feather='key')
                .row.mt-4
                  .col.form-group.mb-0
                    button.btn.btn-block.btn-primary(type='submit') Войти
                  .col.form-group.mb-0
                    a(href="/")
                      button.btn.btn-block.btn-secondary(type='button') На главную
    include includes/footer.pug
    script(src='../assets/libs/jquery/dist/jquery.min.js')
    script(src='../assets/libs/bootstrap/dist/js/bootstrap.bundle.min.js')
    script(src='../assets/libs/svg-injector/dist/svg-injector.min.js')
    script(src='../assets/libs/feather-icons/dist/feather.min.js')
    script(src='../assets/libs/in-view/dist/in-view.min.js')
    script(src='../assets/libs/sticky-kit/dist/sticky-kit.min.js')
    script(src='../assets/libs/imagesloaded/imagesloaded.pkgd.min.js')
    script(src='../assets/js/quick-website.js')
    script.
      feather.replace({
      width: "1em",
      height: "1em"
      })
    include includes/yandex_metrika.pug
