doctype html
html
  head
    title #{title}
    include includes/head_html.pug
    link(rel='stylesheet', href='../../../assets/libs/fortawesome/fontawesome-free/css/all.min.css')
  body
    .footer-wrapper
      include includes/header_private.pug
      section.slice.slice-lg.delimiter-bottom
        a.btn.btn-neutral.btn-icon-only.rounded-circle.position-absolute.left-4.top-90.d-none.d-lg-inline-flex(href="/profiles/"+userId+"/")
          span.btn-inner--icon
            i(data-feather='arrow-left')
        .container.d-flex.flex-column
          .row.align-items-center.justify-content-center
            .col-lg-5.col-xl-4.py-6.py-md-0
              div
                .mb-5.text-center
                  h6.h3.mb-1 #{title}
                span.clearfix
                if errorMessage.length
                  .alert.alert-danger(role='alert')
                    | #{errorMessage}
                form(action="" method="POST")
                  .form-group
                    .d-flex.align-items-center.justify-content-between
                      .mb-2
                            i(data-feather='eye').mr-1
                            a.small.text-muted.text-underline--dashed.border-primary(href='#', data-toggle='password-text', data-target='.form-control' onclick='this.innerHTML=="Показать пароли" ? this.innerHTML="Скрыть пароли" : this.innerHTML="Показать пароли"') Показать пароли
                  .form-group
                        .d-flex.align-items-center.justify-content-between
                          div
                            label.form-control-label Cтарый пароль
                        input#oldpass.form-control(type='password' name="oldpass" placeholder="Ваш старый пароль" required="true", maxlength=65)
                  .form-group
                        .d-flex.align-items-center.justify-content-between
                          div
                            label.form-control-label Новый пароль
                        input#newpass1.form-control(type='password' name="newpass1" placeholder="Ваш новый пароль" required="true", maxlength=65)
                  .form-group
                        .d-flex.align-items-center.justify-content-between
                          div
                            label.form-control-label Подтверждение пароля
                        input#newpass2.form-control(type='password' name="newpass2" placeholder="Ваш новый пароль" required="true", maxlength=65)
                  .row.mt-3
                    .col.form-group.mb-0
                      input.btn.btn-primary(type='submit' value="Сохранить")
                    .col.form-group.mb-0
                      a(href="/profiles/"+userId+"/")
                        button.btn.btn-block.btn-secondary(type="button") Отмена
      .push
    include includes/footer.pug 
    script(src='../../../assets/libs/jquery/dist/jquery.min.js')
    script(src='../../../assets/libs/bootstrap/dist/js/bootstrap.bundle.min.js')
    script(src='../../../assets/libs/svg-injector/dist/svg-injector.min.js')
    script(src='../../../assets/libs/feather-icons/dist/feather.min.js')
    script(src='../../../assets/libs/in-view/dist/in-view.min.js')
    script(src='../../../assets/libs/sticky-kit/dist/sticky-kit.min.js')
    script(src='../../../assets/libs/imagesloaded/imagesloaded.pkgd.min.js')
    script(src='../../../assets/libs/progressbar.js/dist/progressbar.min.js')
    script(src='../../../assets/js/quick-website.js')
    script.
      feather.replace({
      width: "1em",
      height: "1em"
      })
    include includes/yandex_metrika.pug
