doctype html 
html
  head
    title #{title}
  body
    h1 #{title}
    form(action="" method="POST")
      label(for="oldpass") Old password:
      input#oldpass(type="password" name="oldpass" placeholder="Your old password" required="true")
      br
      label(for="newpass1") New password:
      input#newpass1(type="password" name="newpass1" placeholder="Your new password" required="true")
      br
      label(for="newpass2") Repeat new password:
      input#newpass2(type="password" name="newpass2" placeholder="Repeated new password" required="true")
      br
      input(type="submit" value="Change password")
    if errorMessage.length
      p(style="color: red") #{errorMessage}
