.form#filter
  .row.mb-3
    .col-12
      h1.h6.my-2 Тип обучения
    .col-sm-5.col-lg-12
      .custom-control.custom-switch
        input#bakalavr.custom-control-input(type='checkbox', name="types", value='Бакалавриат')
        label.custom-control-label(for='bakalavr') Бакалавриат
    .col-sm-5.col-lg-12
      .custom-control.custom-switch
        input#magistr.custom-control-input(type='checkbox', name="types", value='Магистратура')
        label.custom-control-label(for='magistr') Магистратура
  .row.mb-3
    .col-12
      h1.h6.my-2 Группы
    .col-lg-12.col-lg-12.col-sm-5
      .custom-control.custom-switch
        input#UIS.custom-control-input(type='checkbox', name="groups", value='УИС')
        label.custom-control-label(for='UIS') УИС
    .col-lg-12.col-lg-12.col-sm-5
      .custom-control.custom-switch
        input#UVA.custom-control-input(type='checkbox', name="groups", value='УВА')
        label.custom-control-label(for='UVA') УВА
    .col-lg-12.col-lg-12.col-sm-5
      .custom-control.custom-switch
        input#UVV.custom-control-input(type='checkbox', name="groups", value='УВВ')
        label.custom-control-label(for='UVV') УВВ
  .row.mb-3
    .col-12
      h1.h6.my-2 Курс
    .col-lg-12.col-lg-12.col-sm-5
      .custom-control.custom-switch
        input#first.custom-control-input(type='checkbox', name="courses", value='1 курс')
        label.custom-control-label(for='first') 1 курс
    .col-lg-12.col-lg-12.col-sm-5
      .custom-control.custom-switch
        input#second.custom-control-input(type='checkbox', name="courses", value='2 курс')
        label.custom-control-label(for='second') 2 курс
    .col-lg-12.col-lg-12.col-sm-5
      .custom-control.custom-switch
        input#third.custom-control-input(type='checkbox', name="courses", value='3 курс')
        label.custom-control-label(for='third') 3 курс
    .col-lg-12.col-lg-12.col-sm-5
      .custom-control.custom-switch
        input#fourth.custom-control-input(type='checkbox', name="courses", value='4 курс')
        label.custom-control-label(for='fourth') 4 курс
