.form#filter
  .row
    .col-12
      h1.h6.mb-0 Тип обучения
    .col-sm-6.col-lg-12
      input#bakalavr(type='checkbox', name="types[]", value='Бакалавриат')
      label.ml-2(for='bakalavr') Бакалавриат
    .col-sm-6.col-lg-12
      input#magistr(type='checkbox', name="types[]", value='Магистратура')
      label.ml-2(for='magistr') Магистратура
  .row
    .col-12
      h1.h6.mb-0 Группы
    .col-lg-12.col-sm-4
      input#UIS(type='checkbox', name="groups[]", value='УИС')
      label.ml-2(for='UIS') УИС
    .col-lg-12.col-sm-4
      input#UVA(type='checkbox', name="groups[]", value='УВА')
      label.ml-2(for='UVA') УВА
    .col-lg-12.col-sm-4
      input#UVV(type='checkbox' name="groups[]", value='УВВ')
      label.ml-2(for='UVV') УВВ
  .row
    .col-12
      h1.h6.mb-0 Курс
    .col-lg-12.col-sm-6
      input#first(type='checkbox', name="courses[]", value='1 курс')
      label.ml-2(for='first') 1 курс
    .col-lg-12.col-sm-6
      input#second(type='checkbox', name="courses[]", value='2 курс')
      label.ml-2(for='second') 2 курс
    .col-lg-12.col-sm-6
      input#third(type='checkbox', name="courses[]", value='3 курс')
      label.ml-2(for='third') 3 курс
    .col-lg-12.col-sm-6
      input#fourth(type='checkbox', name="courses[]", value='4 курс')
      label.ml-2(for='fourth') 4 курс
