footer#footer-main.position-relative
  .footer.pt-lg-7.footer-dark.bg-dark
    .shape-container.shape-line.shape-position-top.shape-orientation-inverse
      svg(width='2560px', height='100px', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', preserveAspectRatio='none', x='0px', y='0px', viewBox='0 0 2560 100', style='enable-background:new 0 0 2560 100', xml:space='preserve')
        polygon(points='2560 0 2560 100 0 100')
    .container.pt-4
      .text-center.justify-content-center
        div
          a(href='/')
            img#footer-logo(alt='Логотип', src='../../../../assets/img/logo/asu-main-beta.png')
      hr.divider.divider-fade.divider-dark.my-4
      .text-center.justify-content-center
        .copyright.text-sm.font-weight-bold.text-center.pb-3
          | © 2020 Кафедра АСУ
          a.font-weight-bold(href='https://rut-miit.ru/', target='_blank')  РУТ(МИИТ)
          |  
