footer#footer-main
  .footer.pt-lg-4.footer-dark.bg-dark
    .container.pt-4
      .text-center.justify-content-center
        div
          a(href='/')
            img#footer-logo(alt='Логотип', src='../../../../assets/img/logo/asu-main-beta.png')
      hr.divider.divider-fade.divider-dark.my-0
      .text-center.justify-content-center
        .copyright.text-sm.font-weight-bold.text-center.pb-2
          | © 2020 Кафедра АСУ
          a.font-weight-bold(href='https://rut-miit.ru/', target='_blank')  РУТ(МИИТ)
          |  

  
