meta(charset='utf-8')
meta(name='viewport', content='width=device-width,initial-scale=1,shrink-to-fit=no')
style.
  * {
    margin: 0;
  }
  html, 
  body {
      height: 100%;
  }
  .footer-wrapper {
      min-height: 100%;
      height: auto !important;
      height: 100%;
      margin: 0 auto -139px; /* the bottom margin is the negative value of the footer's height */
  }
  footer, .push {
      height: 139px; /* .push must be the same height as .footer */
  }
link(rel='icon', href='../../../../assets/img/logo/favicon.png', type='image/png')
link#stylesheet(rel='stylesheet', href='../../../../assets/css/quick-website.css')
